JSON_N8N/Flujo_Razonamiento_con_IA.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs",
          "mode": "list",
          "cachedResultName": "proyecto_Inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -240
      ],
      "id": "0a672bad-a5b3-4d69-95c9-dca6b66c1b69",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OJ824u5gVS4nhBbt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dd3727c-dc98-4adb-9459-eaa7d4b05ec5",
              "name": "nombre",
              "value": "={{ $json.body.nombre_estudiante }}",
              "type": "string"
            },
            {
              "id": "b85bc216-fc8f-4fe6-9981-d7d40839ea71",
              "name": "id",
              "value": "={{ $json.body.ID_estudiante }}",
              "type": "string"
            },
            {
              "id": "ab0c4268-d70e-4939-822f-184606d265bd",
              "name": "correo",
              "value": "={{ $json.body.correo_estudiante }}",
              "type": "string"
            },
            {
              "id": "fa1ab75c-39e5-44db-b3c8-6226326306b2",
              "name": "curso",
              "value": "={{ $json.body.curso_estudiante }}",
              "type": "string"
            },
            {
              "id": "eaac8814-ab8b-4402-8350-d7978275a46a",
              "name": "motivo",
              "value": "={{ $json.body.motivo_estudiante }}",
              "type": "string"
            },
            {
              "id": "4e56dcb4-783e-40f3-8341-33989d408a1c",
              "name": "soporte",
              "value": "={{ $json.body.image }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        64
      ],
      "id": "b81b23a0-923a-41ce-b08a-d2db78a458ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la siguiente justificación de inasistencia:\n\nEstudiante: {{ $json.nombre }}\nMotivo: {{ $json.motivo }}\nimagen de soporte: {{ $json.soporte }}\n\nClasifícala según las instrucciones.",
        "options": {
          "systemMessage": "Eres un asistente administrativo de una institución educativa.\nTu tarea es analizar justificaciones de inasistencia y clasificarlas, las justificaciones pueden o no adjuntar una imagen, las que si requieren una imagen para ser validadas son\njustificaciones acerca de :\n\n\t-Excusas Medicas\n\t-Fallas mecánicas\n\n(Si se considera algún otro ámbito donde se debería requerir una imagen, clasificar la confianza como media y mandarlo a revisión manual).\n\nSi la justificación lleva una imagen adjudicada, comprobar que tenga coherencia con la justificación dada por el estudiante, si esta no la tiene, clasificar automáticamente como invalida.\n\nSi la imagen se ve claramente borrosa o presenta fallas para poder ver claramente lo que se presenta, clasificar inmediato como dudosa.\n\nDebes responder ÚNICAMENTE en este formato JSON, sin texto adicional:\n{\n  \"clasificacion\": valida, invalida o dudosa\n  \"confianza\": \"Alta\" o \"Media\" o \"Baja\",\n  \"razon\": \"explicación breve de máximo 2 oraciones\"\n  \"estado\": \"Aprobado\", \"En revision\", \"Denegado\"\n\"soporte\": \"url de la imagen\" \"N/N\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        64
      ],
      "id": "47243322-0fea-4011-bcc4-859f514fe4fd",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa58b614-5aa7-4b0d-95b5-b65f851560f6",
              "name": "clasificacion",
              "value": "={{ JSON.parse($('AI Agent').item.json.output).clasificacion }}",
              "type": "string"
            },
            {
              "id": "359695e9-61b8-45e8-bd1e-f5d8cb0a9410",
              "name": "confianza",
              "value": "={{ JSON.parse($('AI Agent').item.json.output).confianza }}",
              "type": "string"
            },
            {
              "id": "689c8dfd-076e-418b-b1c7-25a0a0fb20a3",
              "name": "razon",
              "value": "={{ JSON.parse($('AI Agent').item.json.output).razon }}",
              "type": "string"
            },
            {
              "id": "7ab4a27a-2dd9-4f4a-bb67-39b888422db6",
              "name": "=nombre",
              "value": "={{ $('Edit Fields').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "7e2b1b6c-9e61-4857-b2a2-043abe34bd58",
              "name": "id",
              "value": "={{ $('Edit Fields').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e25c2921-3a35-4941-bb49-5a455bce9b19",
              "name": "correo",
              "value": "={{ $('Edit Fields').item.json.correo }}",
              "type": "string"
            },
            {
              "id": "b151d086-948b-46ac-93c3-caa8cb620a26",
              "name": "curso",
              "value": "={{ $('Edit Fields').item.json.curso }}",
              "type": "string"
            },
            {
              "id": "e4c8a261-db68-4f8f-a11f-aba6d5c853bf",
              "name": "motivo",
              "value": "={{ $('Edit Fields').item.json.motivo }}",
              "type": "string"
            },
            {
              "id": "fe909e5d-312f-4586-ad6e-95371ba1a5bf",
              "name": "estado",
              "value": "={{ JSON.parse($('AI Agent').item.json.output).estado}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        64
      ],
      "id": "1a500344-c1cf-4605-bdee-ad1e2c45da27",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -352,
        272
      ],
      "id": "09625ca4-9f4a-4eb1-a82a-7d5c0f25e20b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bs26ECNsPnrBTLj6",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "valida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4cee140a-2fcd-4eab-bc25-6baed43ef7ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1634b8c6-fd5d-480f-bfbd-9459471a19bd",
                    "leftValue": "={{ $json.clasificacion }} ",
                    "rightValue": "dudosa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8b6bcea7-bb91-4289-bd81-12088f199bcd",
                    "leftValue": "={{ $json.confianza }} ",
                    "rightValue": "Media",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1b0df3d-8d4b-463f-a808-9d79e6cb8213",
                    "leftValue": "={{ $json.confianza }}",
                    "rightValue": "Baja",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55d576e6-b6d1-495d-97cd-308a03b25b30",
                    "leftValue": "={{ $json.clasificacion }}",
                    "rightValue": "invalida",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        336,
        32
      ],
      "id": "a46304fd-639f-4c59-a4c0-95d23dadfc4c",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "\"chat_id\"",
        "text": "=Hey! tengo dudas al respecto del estudiante \" {{ $('Edit Fields').item.json.nombre }}\" de id \"{{ $('Edit Fields').item.json.id }}\" pues que mi razonamiento fue de \"{{ $('Edit Fields1').item.json.razon }}\".\nPorfavor revisar en la hoja de calculo sus datos y determinar si la justificacion es valida o no",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ],
      "id": "e1777795-11ac-4228-8231-2664abf6d392",
      "name": "Send a text message",
      "webhookId": "fba22d15-4601-4efa-9661-ac8e06d64a4e",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs",
          "mode": "list",
          "cachedResultName": "proyecto_Inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        160
      ],
      "id": "19ca73eb-c54e-4c43-a556-9ff0352e50c3",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OJ824u5gVS4nhBbt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "\"chat_id\"",
        "text": "=Rechazo preventivo del estudiante \" {{ $('Edit Fields').item.json.nombre }}\" de id \"{{ $('Edit Fields').item.json.id }}\" pues que mi razonamiento fue de \"{{ $('Edit Fields1').item.json.razon }}\".\n\nPorfavor pedir informacion extra al estudiante si no se esta deacuerdo con esta desicion",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        336
      ],
      "id": "aa4d4481-e9c0-48bb-b461-f1cdfc118e0a",
      "name": "Send a text message1",
      "webhookId": "fba22d15-4601-4efa-9661-ac8e06d64a4e",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "\"chat_id\"",
        "text": "=Hey! tengo dudas al respecto del estudiante \" {{ $('Edit Fields').item.json.nombre }} \" de id \"{{ $('Edit Fields').item.json.id }}\" pues que mi razonamiento fue:\n\n\"{{ $('Edit Fields1').item.json.razon }}\". \nPor lo tanto mi clasificacion fue: \"{{ $('Edit Fields1').item.json.clasificacion }}\".\n\nPorfavor revisar en la hoja de calculo sus datos y determinar si la justificacion es valida o no",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1056,
        0
      ],
      "id": "a6c6afd3-97c0-4137-aaf0-0d295139b985",
      "name": "Send a text message2",
      "webhookId": "fba22d15-4601-4efa-9661-ac8e06d64a4e",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs",
          "mode": "list",
          "cachedResultName": "proyecto_Inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        0
      ],
      "id": "6261e3b9-4fa0-40ef-b9a5-9256db2c3dd4",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OJ824u5gVS4nhBbt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs",
          "mode": "list",
          "cachedResultName": "proyecto_Inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        336
      ],
      "id": "f1c0d755-755f-46c4-a41f-d1c2332e5ba4",
      "name": "Append or update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OJ824u5gVS4nhBbt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs",
          "mode": "list",
          "cachedResultName": "proyecto_Inasistencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7gr_Ku96HSebKSQFKaTWTzRHsyw8sJVKBY-HnJOFDs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curso",
              "displayName": "curso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        528
      ],
      "id": "1d908240-b75c-4bf2-9326-a99e141825c6",
      "name": "Append or update row in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OJ824u5gVS4nhBbt",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        64
      ],
      "id": "6c59ba03-41f9-47dc-abd7-eed6ebd918a8",
      "name": "Webhook",
      "webhookId": "9ac040ae-3848-4b2f-8ba5-345d0d7a9513"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db3a8e4c5c514d653c18636f63d331cd5289721cd318f5aa1a6306983b7e9a74"
  }
}